<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/js/checkRole.js"></script>
    <script>redirectIfNotAdmin()</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart | Store Manager</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/tables.css">
    <link rel="stylesheet" href="../static/css/profile.css">
    <link rel="icon" href="../images/icons/download.jpeg">
</head>
<body>
    <div class="grid-container">
        <div class="navbar-container">
            <ul class="navbar-ul">
                <li class="organization-name"><a href="../../index.html">Store Manager</a></li>
                <li class="right">
                    <a href="profile.html" class="prof-pic"><img src="../images/profile_pictures/images.png" alt=""></a>
                </li>
                <li class="right"><a href="../../index.html">Home</a></li>
            </ul>
        </div>
        <div class="sidebar-container">
            <div>
                <a href="products.html">Products</a>
                <a href="cart.html">Cart</a>
                <a href="admin-profile.html" class="active">Profile</a>
            </div>
        </div>
        <div class="content-container">
          <div class="admin-profile-container">
            <div class="sale-attendants">
              <h3>Sale Attendants</h3>
              <p>Sale attendants</p>
              <a href="sale-attendant.html">Add sale attendant</a>
            </div>
            <hr>
            <div class="products">
              <h3>Products</h3>
              <p>2 Categories created</p>
              <p>320 products available</p>
              <a href="manage-product.html">View and modify Products</a>
            </div>
            <hr>
            <div class="">
              <h3>Sale records</h3>
              <p>88 Sale records created</p>
              <a href="all-sale-records.html">View sale records</a>
            </div>
          </div>
        </div>
    </div>
</body>
</html>
