<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products | Store Manager</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/tables.css">
    <link rel="icon" href="../images/icons/download.jpeg">
</head>
<body>
    <div class="grid-container">
        <div class="navbar-container">
            <ul class="navbar-ul">
                <li class="organization-name"><a href="../../index.html">Store Manager</a></li>
                <li class="right">
                    <a class="prof-pic"><img src="../images/profile_pictures/images.png" alt=""></a>
                </li>
                <li class="right"><a href="../../index.html">Home</a></li>
            </ul>
        </div>
        <div class="sidebar-container">
            <div>
                <a href="products.html">Products</a>
                <a href="cart.html" class="active">My cart</a>
                <a href="">Add Product</a>
                <a href="">Manage Store Attendants</a>
            </div>
        </div>
        <div class="content-container">
          <table id="cart">
            <tr>
              <th>S/N</th>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Phone Brand 1</td>
              <td>Ksh. 55,000</td>
              <td><input type="number" name="" min="0" value="1"></td>
            </tr>
            <tr>
              <td>2</td>
              <td>TV Brand 2</td>
              <td>Ksh. 32,000</td>
              <td><input type="number" name="" min="0" value="1"></td>
            </tr>
            <tr>
              <td>3</td>
              <td>TV Brand 4</td>
              <td>Ksh. 26,000</td>
              <td><input type="number" name="" min="0" value="1"></td>
            </tr>
          </table>
          <button type="button" class="checkout-button" name="button">CHECKOUT KSH. 113, 000</button>
        </div>
    </div>
</body>
</html>
