<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/js/checkRole.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart | Store Manager</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/tables.css">
    <link rel="icon" href="../images/icons/download.jpeg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="grid-container">
        <div class="navbar-container">
            <ul class="navbar-ul">
                <li class="organization-name"><a href="../../index.html">Store Manager</a></li>
                <li class="right">
                    <a href="profile.html" class="prof-pic"><img src="../images/profile_pictures/images.png" alt=""></a>
                </li>
                <li class="right"><a href="../../index.html">Home</a></li>
            </ul>
        </div>
        <div class="sidebar-container">
            <div>
                <a href="products.html">Products</a>
                <a href="cart.html" class="active">Cart</a>
                <a href="admin-profile.html">Profile</a>
            </div>
        </div>
        <div class="content-container">
            <br>
            <div class="message-box" id="sales-message">

            </div>
          <table class="s-table" id="sales-table">
              <!-- cart created dynamically -->
          </table>
          <button type="button" class="checkout-button" id="checkout-button">CHECKOUT</button>
        </div>
    </div>
    <script src="../static/js/sales.js"></script>
</body>
</html>
