<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | Store Manager</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
</head>
<body>
    <!-- NAVBAR -->
    <div class="navbar-div">
        <ul class="navbar-ul">
            <li class="organization-name"><a href="../../index.html">Store Manager</a></li>
            <li class="right"><a class="active" href="#login">Login</a></li>
            <li class="right"><a href="../../index.html">Home</a></li>
        </ul>
    </div>
</body>
</html>