<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>     
    <div class="grid-container">
        <div class="navbar-container navbar-div">
            <ul class="navbar-ul">
                <li class="organization-name"><a href="../../index.html">Store Manager</a></li>
                <li class="right">
                    <a class="prof-pic"><img src="../images/profile_pictures/images.png" alt=""></a>
                </li>
                <li class="right"><a href="../../index.html">Home</a></li>
            </ul>
        </div>
        <div class="sidebar-container">
            <div>
                <a href="" class="active">Products</a>
                <a href="">Add Product</a>
                <a href="">Manage Store Attendants</a>
            </div>
        </div>
        <div class="content-container">
            
        </div>  
        <div class="footer-container">
            
        </div>
    </div>
</body>
</html>