<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products | Store Manager</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/products.css">
    <link rel="icon" href="../images/icons/download.jpeg">
</head>
<body>
    <div class="grid-container">
        <div class="navbar-container">
            <ul class="navbar-ul">
                <li class="organization-name"><a href="../../index.html">Store Manager</a></li>
                <li class="right">
                    <a href="profile.html" class="prof-pic"><img src="../images/profile_pictures/images.png" alt=""></a>
                </li>
                <li class="right"><a href="../../index.html">Home</a></li>
            </ul>
        </div>
        <div class="sidebar-container">
            <div>
                <a href="" class="active">Products</a>
                <a href="cart.html">My cart</a>
                <a href="sale-records.html">Sale records</a>
                <a href="profile.html">My Profile</a>
            </div>
        </div>
        <div class="content-container">
            <h3 class="category-title">Phones</h3>
            <div class="category-container">
                <div>
                    <img class="product-image" src="../images/products_pictures/model1.jpeg" alt="Phone"><br>
                    <span class="product-name">Phone brand 1</span><br>
                    <span class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br>
                    <span class="product-price">Ksh. 55,000</span><br>
                    <button type="button" name="button"> Add to cart</button>
                </div>
                <div>
                    <img class="product-image" src="../images/products_pictures/model2.jpeg" alt="Phone"><br>
                    <span class="product-name">Phone brand 2</span><br>
                    <span class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br>
                    <span class="product-price">Ksh. 19,000</span><br>
                    <button type="button" name="button"> Add to cart</button>
                </div>
                <div>
                    <img class="product-image" src="../images/products_pictures/model4.jpeg" alt="Phone"><br>
                    <span class="product-name">Phone brand 3</span><br>
                    <span class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br>
                    <span class="product-price">Ksh. 18,000</span><br>
                    <button type="button" name="button"> Add to cart</button>
                </div>
                <div>
                    <img class="product-image" src="../images/products_pictures/model5.jpeg" alt="Phone"><br>
                    <span class="product-name">Phone brand 4</span><br>
                    <span class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br>
                    <span class="product-price">Ksh. 28,000</span><br>
                    <button type="button" name="button"> Add to cart</button>
                </div>

            </div>
            <hr>
            <h3 class="category-title">TVs</h3>
            <div class="category-container TVs">
              <div>
                <img class="product-image" src="../images/products_pictures/type1.jpeg" alt="Phone"><br>
                <span class="product-name">TV brand 1</span><br>
                <span class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br>
                <span class="product-price">Ksh. 20,000</span><br>
                <button type="button" name="button"> Add to cart</button>
              </div>
              <div>
                <img class="product-image" src="../images/products_pictures/type2.jpeg" alt="Phone"><br>
                <span class="product-name">TV brand 2</span><br>
                <span class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br>
                <span class="product-price">Ksh. 32,000</span><br>
                <button type="button" name="button"> Add to cart</button>
              </div>
              <div>
                <img class="product-image" src="../images/products_pictures/type3.jpeg" alt="Phone"><br>
                <span class="product-name">TV brand 3</span><br>
                <span class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br>
                <span class="product-price">Ksh. 20,000</span><br>
                <button type="button" name="button"> Add to cart</button>
              </div>
              <div>
                <img class="product-image" src="../images/products_pictures/type4.jpeg" alt="Phone"><br>
                <span class="product-name">TV brand 4</span><br>
                <span class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br>
                <span class="product-price">Ksh. 26,000</span><br>
                <button type="button" name="button"> Add to cart</button>
              </div>
              <div>
                <img class="product-image" src="../images/products_pictures/type5.jpeg" alt="Phone"><br>
                <span class="product-name">TV brand 5</span><br>
                <span class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br>
                <span class="product-price">Ksh. 24,000</span><br>
                <button type="button" name="button"> Add to cart</button>
              </div>
            </div>
        </div>
    </div>
</body>
</html>
