<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/products.css">
    <link rel="icon" href="../images/icons/download.jpeg">
</head>
<body>
    <div class="grid-container">
        <div class="navbar-container">
            <ul class="navbar-ul">
                <li class="organization-name"><a href="../../index.html">Store Manager</a></li>
                <li class="right">
                    <a class="prof-pic"><img src="../images/profile_pictures/images.png" alt=""></a>
                </li>
                <li class="right"><a href="../../index.html">Home</a></li>
            </ul>
        </div>
        <div class="sidebar-container">
            <div>
                <a href="" class="active">Products</a>
                <a href="">My c
                    art</a>
                <a href="">Add Product</a>
                <a href="">Manage Store Attendants</a>
            </div>
        </div>
        <div class="content-container">
            <h3 class="category-title">Phones</h3>
            <div class="category-container">
                <div>
                    <img src="../images/icons/download.jpeg" alt="Phone"><br>
                    <span class="product-name">Phone brand 1</span><br>
                    <span class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br>
                    <span class="product-price">Ksh. 15,000</span><br>
                </div>
                <div>
                    <img src="../images/icons/download.jpeg" alt="Phone"><br>
                    <span class="product-name">Phone brand 2</span><br>
                    <span class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br>
                    <span class="product-price">Ksh. 9,000</span><br>
                </div>
                <div>
                    <img src="../images/icons/download.jpeg" alt="Phone"><br>
                    <span class="product-name">Phone brand 3</span><br>
                    <span class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br>
                    <span class="product-price">Ksh. 18,000</span><br>
                </div>
                <div>
                    <img src="../images/icons/download.jpeg" alt="Phone"><br>
                    <span class="product-name">Phone brand 4</span><br>
                    <span class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br>
                    <span class="product-price">Ksh. 18,000</span><br>
                </div>

            </div>
            <hr>
            <h3 class="category-title">TVs</h3>
            <div class="category-container">
              <div>
                  <img src="../images/icons/download.jpeg" alt="Phone"><br>
                  <span class="product-name">TV brand 1</span><br>
                  <span class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br>
                  <span class="product-price">Ksh. 20,000</span><br>
              </div>
              <div>
                  <img src="../images/icons/download.jpeg" alt="Phone"><br>
                  <span class="product-name">TV brand 2</span><br>
                  <span class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br>
                  <span class="product-price">Ksh. 18,000</span><br>
              </div>
              <div>
                  <img src="../images/icons/download.jpeg" alt="Phone"><br>
                  <span class="product-name">TV brand 3</span><br>
                  <span class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br>
                  <span class="product-price">Ksh. 26,000</span><br>
              </div>
              <div>
                  <img src="../images/icons/download.jpeg" alt="Phone"><br>
                  <span class="product-name">TV brand 4</span><br>
                  <span class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br>
                  <span class="product-price">Ksh. 15,000</span><br>
              </div>
              <div>
                  <img src="../images/icons/download.jpeg" alt="Phone"><br>
                  <span class="product-name">TV brand 5</span><br>
                  <span class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br>
                  <span class="product-price">Ksh. 45,000</span><br>
              </div>
            </div>
        </div>
    </div>
</body>
</html>
