<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products | Store Manager</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/products.css">
    <link rel="icon" href="../images/icons/download.jpeg">
</head>
<body>
    <div class="grid-container">
        <div class="navbar-container">
            <ul class="navbar-ul">
                <li class="organization-name"><a href="../../index.html">Store Manager</a></li>
                <li class="right">
                    <a href="profile.html" class="prof-pic"><img src="../images/profile_pictures/images.png" alt=""></a>
                </li>
                <li class="right"><a href="../../index.html">Home</a></li>
            </ul>
        </div>
        <div class="sidebar-container">
            <div>
                <a href="products.html" class="active">Products</a>
                <a href="cart.html">My cart</a>
                <a href="sale-records.html">Sale records</a>
                <a href="profile.html">My Profile</a>
            </div>
        </div>
        <div class="content-container">
          <h2>Phone model 1 @ Ksh. 55, 000</h2>
          <div class="product-container">
            <div class="">
              <img src="../images/products_pictures/model1.jpeg" alt="Product">
            </div>
            <div class="">
              <h3>Features</h3>
              <ul>
                <li>Feature 1: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Feature 2: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Feature 3: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
              </ul>
              <button type="button" name="button"> Add to cart</button>
              <br><br>
              <a href="products.html">Back to all products</a>
            </div>
          </div>
        </div>
    </div>
</body>
</html>
