<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/js/checkRole.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile | Store Manager</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/tables.css">
    <link rel="stylesheet" href="../static/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../images/icons/download.jpeg">
</head>
<body>
    <div class="grid-container">
        <div class="navbar-container">
            <ul class="navbar-ul">
                <li class="organization-name"><a href="../../index.html">Store Manager</a></li>
                <li class="right">
                    <a class="prof-pic"><img src="../images/profile_pictures/images.png" alt=""></a>
                </li>
                <li class="right"><a href="../../index.html">Home</a></li>
            </ul>
        </div>
        <div class="sidebar-container">
            <div>
                <a href="products.html">Products</a>
                <a href="cart.html">My cart</a>
                <a href="sale-records.html">Sale records</a>
                <a href="profile.html" class="active">My Profile</a>
            </div>
        </div>

        <div class="content-container">
          <div class="account-rating">
            <p>Account rating</p>
            <div class="">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <h4>You are 16 products away from two stars</h4>
          </div>
          <div class="profile-container">
            <div class="">
              <p><a href="sale-records.html">03</a></p>
              <h2>Number of sale records created</h2>
              <a href="sale-records.html">View your sale records</a>
            </div>
            <div class="">
              <p>14</p>
              <h2>Total Number Of Products sold</h2>
            </div>
            <div class="">
              <p>Ksh. 38,150</p>
              <h2>Worth of products sold</h2>
            </div>
          </div>
          <hr>
          <div class="account-rating">
            <p>Personal Information</p>
            <h4>Keep your details updated</h4>
        </div>
        <div class="personal-information">
          <p>Email-Address: user@gmail.com</p>
          <p>Phone: +254 23456765432</p>
        </div>
    </div>
</body>
</html>
