<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart | Store Manager</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/tables.css">
    <link rel="stylesheet" href="../static/css/profile.css">
    <link rel="stylesheet" href="../static/css/form.css">
    <link rel="icon" href="../images/icons/download.jpeg">
</head>
<body>
    <div class="grid-container">
        <div class="navbar-container">
            <ul class="navbar-ul">
                <li class="organization-name"><a href="../../index.html">Store Manager</a></li>
                <li class="right">
                    <a href="profile.html" class="prof-pic"><img src="../images/profile_pictures/images.png" alt=""></a>
                </li>
                <li class="right"><a href="../../index.html">Home</a></li>
            </ul>
        </div>
        <div class="sidebar-container">
            <div>
                <a href="products.html">Products</a>
                <a href="cart.html">My cart</a>
                <a href="sale-records.html">Sale records</a>
                <a href="admin-profile.html" class="active">Dashboard</a>
            </div>
        </div>
        <div class="content-container">
          <div class="sale-attendant-container">
            <h3>Add a Store Attendant</h3>
            <form class="" action="index.html" method="post">
              <label for="">Full Name</label>
              <input type="text" name="" value="">

              <label for="">E-mail address</label>
              <input type="email" name="" value="">

              <label for="">ID Number</label>
              <input type="text" name="" value="">

              <input type="button" name="" value="Add new attendant">
            </form>
          </div>
        </div>
    </div>
</body>
</html>
