.navbar-container {
    display: grid;
    grid-template-columns: auto;
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px 0 0;
    overflow: hidden;
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    margin-top: 7px;
    z-index: 1;
    background-color: #f3f3f3;
}

.navbar-ul li {
    float: left;
}

.navbar-ul li a {
    display: block;
    color: #f4511e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
}

.navbar-ul li a:hover:not(.prof-pic) {
    border-bottom: 2px solid #f4511e;
}

.navbar-ul .active {
    border-bottom: 2px solid #f4511e;
}

.navbar-ul .right {
    float: right;
    padding-right: 15px;
}

.navbar-ul .right a img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
}

.navbar-ul .right a:hover img{
    cursor: pointer;
}

.organization-name a {
    font-size: 21px;
}