.category-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 10px;
    grid-row-gap: 25px;
    padding-left: 10px;
}

.category-container div {
    padding: 10px 10px 10px 10px;
}

.category-container div .product-image {
    width: 100px;
    height: 120px;
}

.TVs div .product-image {
    width: 150px;
    height: 100px;
}

.category-title {
    color: #f4511e;
    margin-left: 2.5%;
}

.product-name {
    color: #f4511e;
}

.product-price {
    font-size: 18px;
    color: #f4511e;
}

button img {
  width: 20px;
  height: 20px;
}

.category-container div a {
  text-decoration: none;
  color: #f4511e;
}

.category-container div a:hover {
  text-decoration: underline;
  color: #f4511e;
}

/* SPECIFIC PRODUCT */
.product-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 90%;
  margin: auto;
}

.product-container div h3 {
  color: #f4511e;
}

.content-container h2 {
  color: #f4511e;
  margin-left: 5%;
}
